.user {
  min-height: 32rem;
  background-color: rgb(240, 162, 16);
  padding: 3rem;
  display: flex;
  justify-content: center;
  .card {
    text-align: center;
    padding: 2rem 4rem;
    background-color: rgb(241, 123, 12);
    .userDetails {
      p {
        padding: 1.5rem 0;
      }
    }
    .fullDetails {
      .company {
        margin-bottom: 4.2rem;
      }
    }
    button {
      background-color: rgb(168, 74, 20);
      margin: 2.5rem 1rem 0 1rem;
    }
    button:hover {
      color: white;
    }
  }
  .user-unavailable {
    margin-top: 5rem;
    text-align: center;
    color: white;
  }
}
